/* $Id$ */

h1, h2, h3 {
	font-familiy: georgia, "Times New Roman", times, serif;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 3pt;
	color: #7D775C;
}

h1 {
	font-size: 175%;
	background-color: #EEEEEE;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

li {
	background: transparent url(images/list.png) left center no-repeat;
	padding-left: 15px;
	text-align: left;
	font: normal 11px "Lucida Grande", "Lucida Sans Unicode", verdana,
		lucida, sans-serif;
	text-decoration: none;
	color: #999;
}

ul {
	list-style-type: none;
	text-align: left;
}

/* hide msg block but prepare to show as overlay */
.msgErrText {
	position: absolute;
	border: 1px solid #6699bb;
	background-color: #e0e0e0;
	padding: 3px;
	display: none;
}

/* display text when msg block was clicked */
.clicked .msgErrText {
	display: block;
}